body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-white {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.card-white h2 {
    margin-bottom: 10px;
}

.card-white h2 {
    color: blue;
    font-weight: bold;
}

.card-white p {
    color: #666;
}

.card-white .blue-text {
    color: orange;
    font-style: italic;
}

.card-white.green-card h2 {
    color: green;
}

.card-white.green-card p {
    color: #333;
}
